---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Haiii, I'm Elissa! 🩷</h1>
			<p>
				I'm a trans girl interested in programming and Linux. 
				Currently I am studying at upper secondary school in Finland where I also live.
				All of my coding skills up to this point have been self-taught and will likely
				stay that way for a year or so until I get to study comp-sci in uni. 
			</p>
			<p>
				I've been daily driving Linux for over 3 years now and tried tens of different distros. 
				After trying (and failing) at using NixOS, I've come back to EndeavourOS, where I end up
				finding myself after every other distro hop.
				Hopefully some day I will have the time and patience to fully migrate to it!
			</p>
			<p>Here are some other fun things about me!</p>
			<ul>
				<li>I am 18 years old and was born march 5th 2006</li>
				<li>I like penguins</li>
				<li>My 3 most played games are Hypixel Skyblock, Geometry Dash and Astroneer</li>
				<li>Also a weeb</li>
				<li>Cute :3</li>
			</ul>
			<p>
				If you wish to contact me you can do so by either DM;ing me on Discord @blahai or by sending an email to elissa@blahai.gay!
			</p>
		</main>
		<Footer />
	</body>
</html>
